*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/*navbar-design*/
nav{
	display: flex;
	justify-content: space-around;
	align-items: center; 
	background-color: #5b1a04;
	font-family: 'Galada', cursive;
}
/*chocotopia logo and nav-links*/
.navbar .navbar-brand{
	padding right: : 100px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 30px;
}
.navbar-nav{
	display: flex;
	justify-content: space-around;
	width: 60%;
	color:white;
}
/*decoration of the nav-links*/
.navbar-nav .nav-item .nav-link{
     color:white;
     text-decoration: none;
     letter-spacing: 3px;
     font-weight: bold;
     font-size: 20px;
}
/*for hovering the nav-link*/
.navbar-nav .nav-item:hover .nav-link {
	background-color: brown;
	border-radius: 10px;
}
/*nav-links(home,recipes,contact)*/
.navbar-nav .nav-item{
	box-shadow: 0px 2px 2px rgba(96, 96, 96, 0.3);
	background: #3d051b;
	color: #ffffff;
	font-family: "Galada";
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	border-radius: 10px;
	list-style-type: none;
}
/*contact us written on the top of the form*/
.contact-header{
	font-family: 'Galada', cursive;
	color:  white;
	font-size: 50px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.please{
	font-family: 'Galada', cursive;
	color:  white;
	font-size: 20px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
}
main{
	display: block;
    text-align: center;
	min-height: 100vh;
}
/*contact-form*/
form{
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
/*contact form*/
.mb-3{
	border: brown 2px solid;
	border-radius: 10px;
}
/*mobile no and address*/
.address{
	font-family: 'Galada', cursive;
	color:  white;
	font-size: 24px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 200px;
}
/*footer-design*/
footer {
  background-color: #5b1a04;
  height: 10rem;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: -10rem;
}
/*for design of the contents that will stay in the footer*/
footer ul li {
  list-style-type: none;
  text-align: center;
  position: relative;
  top: 60px;
  right: 35px;
  font-size: 1.5rem;
}
/*facebook,twitter,instagram logo*/
.twitter,
.facebook,
.instagram {
  height: 3.5rem;
  width: 3.5rem;
  color: white;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  background-color: #3d051b;
  position: inherit;
  position: relative;
  top: 40px;
}
.twitter:hover {
  color: brown;
}

.facebook:hover {
  color: brown;
}

.instagram:hover {
  color: brown;
}

.twitter:hover,
.facebook:hover,
.instagram:hover {
  background-color: #e3b2ac;
}
/*submit-button*/
.btn-primary:hover{
	background-color:white;
}
/* Extra small devices (phones) */
@media only screen and (max-width: 768px){
.navbar-nav{
	width:100%;
}
footer{
	margin-top:0px;
}
}
/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px){
	.navbar-nav{
	width:100%;
}
footer{
	margin-top:0px;
}
}
/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px){
	.navbar-nav{
	width:60%;
}
footer{
	margin-top:-10rem;
}
}